%h2 Show image

%ul

  %li
    %strong Text:
    = @image.text

  %li
    %strong Url:
    = link(@image.image.file_name, to: Decoction.ImageUpload.url({@image.image, @image}, :original))

  %li
    %strong Source link:
    = @image.source_link

  %li
    %strong Tags:
    = @image.tags

  %li
    %strong Nsfw:
    = @image.nsfw

  %li
    %strong User:
    = @image.user_id


= link "Edit", to: image_path(@conn, :edit, @image)
= link "Back", to: image_path(@conn, :index)
